[Unit]
Description = ddcci-driver-linux hotplug and auto detect, userspace workaround
Before=display-manager.service shutdown.target
Conflicts=shutdown.target

[Service]
Type=forking
EnvironmentFile = -/etc/ddcci-hotplugd.env
ExecStart = /usr/lib/ddcci-hotplugd --daemon
Restart=on-failure
RestartSec=5s

[Install]
WantedBy = graphical.target
